*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

footer{
	display: flex;
	background-color: #62040c;
	color: whitesmoke;
	font-size: 12px;
	height: 20px;
	align-items: center;
	justify-content: center;
}

.btn{
	height:35px;
	width: 100px;
	border-radius: 15px;
	border: none;
	background-color: #62040c;
	color: whitesmoke;
	outline: none;
}

.btn > a{
	padding: 8px 0;
}

h1{
	font-family: 'Oxygen', sans-serif;
}

.section-header{
	font-size: 50px;
	text-align: center;
}

a{
	text-decoration: none;
	font-size: 15px;
	color: whitesmoke;
	padding: 0 10px;
	font-family: 'Oxygen', sans-serif;
	cursor: pointer;
}

p{
	cursor: default;
}

input{
	height: 30px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	width: 350px;
	margin: 5px 0;
	padding: 0 5px;
}

textarea{
	height: 200px;
	width: 350px;
	resize: none;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	margin: 5px 0;
	padding: 0 5px;
}

a:hover, .btn:hover{
	background-color: #330000;
	cursor: pointer;
}

/*css for landing page*/
.landing-page{
	height: 100vh;
	display: flex;
	position: relative;
	justify-content: center;
}

.landing-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.landing-text > h1{
	font-size:140px;
	font-family: 'Saira Stencil One', cursive;
	position: relative;
	bottom: 70px;
}

.landing-text > h3{
	padding-bottom: 50px;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	bottom: 110px;
}

.landing-text > p{
	font-size: 15px;
	padding-bottom: 8px;
	position: relative;
	bottom: 100px;
}

.landing-buttons{
	position: relative;
	bottom: 20px;
}

.landing-buttons > .btn{
	margin: 0 60px;
	padding: 1px;
}

/*css for transparent background without affecting text*/
.landing-page::after{
	content: "";
	opacity: 0.5;
	background: url(../images/landing-bg.jpg);
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.btn-learn, .btn-send{
	margin: 0 40px;
}
/*end of trasnparent background*/
/*end of css for landing page*/

/*start of css for navbar*/
nav{
	height: 30px;
	background-color: #62040c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top:0;
	z-index: 100;
}

nav > ul{
	display: flex;
	list-style-type: none;
}

ul > p{
	color: whitesmoke;
}

nav > a, nav > ul > li > a{
	padding: 5px 10px;
}
/*end of css for navbar*/

/*start of css for about section*/
.about{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-left{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about-text > h1, .about-text > h3{
	padding: 20px 30px;
}

.about-text > ul > li{
	margin: 0 80px;
}

.about-images{
	max-width: 600px;
}

.about-images > img{
	height: 250px;
	width: 225px;
}

#img1, #img2, #img3{
	position: relative;
	box-shadow: -5px 5px 5px 0px rgba(153, 153, 153,1);
	border-radius: 5px;
}

#img2{
	top:130px;
	right: 130px;
	z-index: 2;
}

#img1{
	bottom: 60px;
	left: 280px;
	z-index: 3;
}

#img3{
	top: 60px;
	left: 280px;
	z-index: 1;
}

.sponsor-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0;
}

#logo4, #logo3, #logo2, #logo1{
	height: 100px;
	padding: 0 20px;
}
/*end of css for about section*/

/*css for organizer section*/
.organizers{
	height: 100vh;
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.organizers > h1{
	text-align: center;
	padding: 50px 0;
}

.org{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.org-image > img{
	height: 250px;
	width: 250px;
	border-radius: 15px;
}

.image-text{
	height: 250px;
	width: 250px;
	background-color: rgba(245,245,245, 0.8);
	position: absolute;
	bottom: 94px;
	z-index: 5;
	border-radius: 15px;
	visibility: hidden;
}

.org-image > h1{
	padding: 20px 0;
	text-align: center;
	font-size: 20px;
}

.image-text > p{
	padding: 30px 15px;
}

.soc-med{
	text-align: center;
}

.soc-med > a{
	color: #62040c;
	font-size: 18px;
	background-color: lightgrey;
}

.soc-med > a:hover{
	color: #330000;
}

.org-image > img:hover + h1 + .image-text, .image-text:hover{
	visibility: visible;
}
/*end of organizer section*/

/*start of bidding form css*/
.bid-form{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-bid-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10%;
}

.input-bid-form > h1{
	padding-bottom: 50px;
}

.map-location{
	margin: 0 10%;
}
/*end of bidding form css*/

/*start of contact form css*/
.contact-form{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#section-contact::after{
	content: "";
	opacity: 0.5;
	background: url(../images/group-image.jpg);
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.contact-form > div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-form > div > h1{
	margin: 20px 0;
	padding-top: 50px;
	text-align: center;
}

.contact-form > div > .btn{
	margin: 10px;
}

#contact-image{
	height: 400px;
	width: 550px;
	border-radius: 5px;
}
/*end of contact form css*/

/*start of @media CSS*/
/*@media: iPad*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.about-images{
		display: none;
	}

	.sponsor-container{
		flex-direction: row;
	}

	.sponsors > img{
		margin: 10px 0;
	}

	#logo1{
		position: relative;
		left: 10px;
		top: 10px;
	}

	#logo4{
		position: relative;
		left: 30px;
	}

	.organizers{
		height: 170vh;
	}

	.org{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.image-text{
		bottom: 85px;
		width: 250px;
	}

	.org-image > img{
		padding: 10px 0;
	}

	.bid-form{
		flex-direction: column;
	}

	.map-location > iframe{
		margin: 30px 0;
	}

	.contact-form{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
/*end of @media: iPad*/

/*@media: iPhone 6 7 8*/
@media only screen and (min-width: 375px) and (max-width: 666px){
	.about{
		height: 120vh;
	}

	.about-images{
		display: none;
	}

	.landing-text > h1{
		font-size: 70px;
		padding: 20px 0;
	}

	.landing-buttons > .btn{
		margin: 20px 0;
	}

	#logo1, #logo2, #logo3, #logo4{
		height: 80px;
	}

	#logo4{
		position: relative;
		left: 20px;
	}

	#logo1{
		position: relative;
		left: 35px;
	}

	.organizers{
		height: 100%;
	}

	.org-image, .soc-med{
		padding: 10px 0;
	}

	.org{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.image-text{
		bottom: 124px;
	}

	.bid-form{
		flex-direction: column;
	}

	.input-bid-form, .map-location{
		padding: 10px 0;
	}

	.map-location > iframe{
		height: 300px;
		width: 300px;
	}
}
/*end of @media: iPhone 6 7 8*/

/*@media: iPad Landscape*/
@media only screen and (min-width: 1024px) and (max-width: 1279px){
	#img1{
		top: 5px;
		left: 22%;
	}

	#img2{
		top: 5px;
		left: 22%;
	}

	#img3{
		top: 0px;
		left: 22%;
	}

	#logo1{
		position: relative;
		left: 40px;
	}

	#logo4{
		position: relative;
		left: 28px;
	}

	.image-text{
		top: 0px;
	}

	.bid-form{
		flex-direction: column;
	}

	.map-location > iframe{
		padding: 15px 0;
	}
}
/*end of @media: iPad Landscape*/

/*@media: iPhone 6 7 8 Landscape*/
@media only screen and (min-width: 667px) and (max-width: 767px){
	.landing-page{
		height: 100vh;
	}

	.landing-text > h1{
		font-size: 70px;
		padding: 10px 0;
	}

	.landing-text > h3{
		padding: 10px 0;
	}

	.about{
		height: 170vh;
	}

	.about-images{
		display: none;
	}

	#logo2{
		position: relative;
		bottom: 105px;
		left: 130px;
	}

	#logo4{
		position: relative;
		bottom: 105px;
		left: 200px;
	}

	.organizers{
		height: 100%;
	}

	.org{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.org-image, .soc-med{
		padding: 10px 0;
	}

	.image-text{
		top: 10px;
	}

	.bid-form{
		height: 150vh;
		flex-direction: column;
	}

	.input-bid-form, .map-location{
		padding: 10px 0;
	}

	.map-location > iframe{
		margin: 10px 0;
	}

	.contact-form{
		height: 150vh;
	}
}
/*end of @media: iPhone 6 7 8 Landscape*/

@media only screen and (min-width: 1280px){
	#img1{
		left: 250px;
	}

	#img2{
		right: 180px;
	}

	#img3{
		left: 250px;
	}
}
/*end of @media CSS*/